@import 'scss/screen';

*,
*:before,
*:after {
  box-sizing: border-box;
}

#container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  border: 1px solid black;
  min-height: 95vh;
}

#projects-tab,
#tasks-tab {
  .focus {
    background: gray;
    color: white;
  }
}
