@import 'scss/screen';
@import 'scss/palette';

// Defaults

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  color: $gray-700;
}

#container {
  margin: 0 auto;
  padding-top: 2rem;
  text-align: center;
  position: relative;
  min-height: 95vh;
  background: $gray-300;
}

#board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  align-items: center;
  flex: 1 1 0%;
}

.tab {
  display: inline-block;
  position: relative;
  border: none;
  background: $gray-200;
  color: $gray-700;
  box-shadow: 0 10px 15px -3px hsla(0, 0, 0, 0.2),
    0 4px 6px -2px hsla(0, 0, 0, 0.05);
  padding: 0.5rem 0.8rem;
  margin: 0.5rem;
  font-size: 1.25rem;
  letter-spacing: 0.07rem;
  border-radius: 4px;
}

// Shows which tab is currently being displayed
.tab.target {
  color: $gray-200;
  background: $primary-500;
}

// Create a triangle to highlight the item being display
.tab.target:after {
  content: '';
  position: absolute;
  top: 3rem;
  left: 1.25rem;
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid $primary-500;
  clear: both;
}

.item-list {
  min-height: 60vh;
  border: 2px solid $primary-300;
  box-shadow: 0 10px 15px -3px hsla(0, 0, 0, 0.2),
    0 4px 6px -2px hsla(0, 0, 0, 0.05);
  border-radius: 8px;
  background: $gray-100;
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
  width: 95%;
}

@include sm-screen {
}

@include md-screen {
  #tabs {
    padding-top: 4rem;
  }

  .item-list {
    width: 75%;
  }
}
